<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">To Do List</h3>
            </div>
            <div class="box-body">
                <form ng-submit="saveTask()">
                    <div class="form-group">
                        <div class="col-xs-3">
                            <input name="description" ng-model="item.description" type="text" class="form-control" placeholder="Descripcion">
                        </div>
                        <div class="col-xs-3">
                            <button type="submit" class="btn btn-primary pull-left"><i class="fa fa-check"></i>Crear</button>                            

                        </div>                        
                    </div>
                </form>
                </br>
                </br>
                <ul class="todo-list" style="overflow:auto;height:200px;">
                    <li ng-repeat="task in tasks">
                        <input type="checkbox" ng-model="task.ended.status" value="{{task.ended.status}}">
                        <span class="text">{{task.description}}</span>
                    </li>
                </ul>
            </div>
            <div class="box-footer clearfix no-border">
                <button class="btn btn-primary pull-right" ng-click="sendEndeds()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Historial de Tareas Finalizadas</h3>
    </div>
    <div class="box-body no-padding">
        <div class="callout callout-danger" ng-show="!taskEndeds.length">
            <h4>Aún no haz finalizado Tareas!</h4>
            <p>Aqui mostraremos tu historial de tareas finalizadas.</p>
        </div>
        <table class="table table-condensed" ng-hide="!taskEndeds.length">
            <tbody>
                <tr>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                    <th style="width: 40px">Estado</th>
                </tr>
                <tr ng-repeat="taskEnd in taskEndeds">
                    <td>{{taskEnd.description}}</td>
                    <td>{{taskEnd.ended.date | date: 'yyyy-MM-dd'}}</td>
                    <td><span class="badge bg-green">Finalizado</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>