<div class="row">
    <div class="col-md-12">
        <ul class="timeline">
            <li class="time-label">
                <span class="bg-red">{{today | date: 'dd MMM yyyy'}}</span>
            </li>
            <li ng-repeat="item in timeline">
                <i class="fa bg-blue" ng-class="{'fa-check': item.type == 'task', 'fa-envelope': item.type == 'resource'}"></i>
                <div class="timeline-item" ng-show="item.type == 'task'">
                    <h3 class="timeline-header"><a href="javascript:void(0);">{{item.user.name}}</a>{{item.action}}</h3>
                    <div class="timeline-body">
                        {{item.description}}
                    </div>    
                </div>
                <div class="timeline-item" ng-show="item.type == 'resource'">
                    <h3 class="timeline-header"><a href="javascript:void(0);">{{item.resource.sender.name}}</a>{{item.action}} con {{item.resource.receiver.join(',')}}</h3>
                    <div class="timeline-body">
                        {{item.description}} 
                    </div>                                                            
                </div>
            </li>
        </ul>
    </div>
</div>